Source: ros-hydro-nmea-navsat-driver
Section: misc
Priority: extra
Maintainer: Eric Perko <eric@ericperko.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-geometry-msgs, ros-hydro-nmea-msgs, ros-hydro-sensor-msgs
Homepage: http://ros.org/wiki/nmea_navsat_driver
Standards-Version: 3.9.2

Package: ros-hydro-nmea-navsat-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-serial, ros-hydro-geometry-msgs, ros-hydro-nmea-msgs, ros-hydro-rospy, ros-hydro-sensor-msgs
Description: Package to parse NMEA strings and publish a very simple GPS messgae. Does not require the GPSD deamon.
